.ct {
  padding: 100px 0;
  background-color: #f8f8f8;
}

.ct-inner {
}

.ct-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  text-align: center;
}


.ct-img {
  margin: 0 auto;
  object-fit: contain;
}
.ct-t1 {
  margin-bottom: 15px;
  font-size: 30px;
  transition: all 0.3s;
}
.ct-t2 {
  margin-bottom: 25px;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 16px;
  color: #888888;
}

.ct-btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 0px;
  line-height: 19px;
  color: #fff;
  border: 1px solid #76a713;
  transition: all 0.3s;

 
}

.ct-item {
  position: relative;
  display: grid;
  align-items: center;
  grid-auto-flow: row;
  grid-template: 1fr auto auto auto / 1fr;
  padding: 25px 5px 30px;
  border: 1px solid #76a713;
  transition: all 0.3s;

  &:hover {
    background-color: #fff;
    border: 1px solid #ddd;
  }

  &:hover .ct-t1 {
    color: #76a713;
  }

  &:hover .ct-btn {
    width: 120px;
    font-size: 16px;
    background-color: #76a713;

    svg {
      display: none;
    }
  }
}

