.ff {
  padding: 30px 100px;
}

.ff-t1 {
  text-align: center;
}

.ff-swiper {
  margin-bottom: 30px;
  overflow: hidden;
}

.ff-box {
  display: flex;
  justify-content: center;
}

.swiper-button-prev2 {
  margin-right: 15px;
}

.swiper-button-prev2,
.swiper-button-next2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
