.ab {
}
.ab-inner {
  
}
.ab-t1 {
  padding: 10px 80px;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0.03em;
  color: #76a713;
  border: 2px dashed rgba(118, 167, 19, 0.5);
}
.ab-t2 {
}
.ab-t3 {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 16px;
  color: #888888;
}
.ab-t4 {
  font-family: Gilroy;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  color: #aaaaaa;
}
.ab-t5 {
  font-weight: 400;
  font-size: 18px;
}
.ab-t6 {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 13px;
  color: #aaaaaa;
}
