<section class="ab">
  <div class="container">
    <div class="ab-inner">
      <img class="ab-img1" src="img/ab-1.png" width="271" height="430" alt="organic food">
      <div class="ab-box1">
        <img class="ab-img2" src="img/ab-2.jpg" width="271" height="300" alt="organic food">
        <div class="ab-t1">15+ Years <br>Experience</div>
      </div>
      <div class="ab-box2">
        <h2 class="ab-t2 tt">High quality organic food store</h2>
        <div class="ab-t3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been
          the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged.</div>
        <div class="ab-t4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore</div>
        <div class="ab-t5">Hasan Mahmud</div>
        <div class="ab-t6">Shop Director</div>
      </div>
    </div>
  </div>
</section>