<section class="ct">
  <div class="container">
    <div class="ct-inner">
      <h2 class="hide">Categories</h2>
      <ul class="ct-list list-reset">
        <li class="ct-item">
          <img class="ct-img" src="img/ct-1.png" width="200" height="130" alt="vegetables">
          <div class="ct-t1">Vegetables</div>
          <div class="ct-t2">Purchasing from select family farmers who farm onganically.</div>
          <button class="ct-btn btn-reset">
            <svg width="15" height="10">
              <use xlink:href="img/svg/sprite.svg#ct-btn"></use>
            </svg>
          </button>
          <button class="btn btn-reset" type="button">Shop now</button>
        </li>
        <li class="ct-item">
          <img class="ct-img" src="img/ct-2.png" width="152" height="117" alt="fresh fruits">
          <div class="ct-t1">Fresh Fruits</div>
          <div class="ct-t2">Purchasing from select family farmers who farm onganically.</div>
          <button class="ct-btn btn-reset">
            <svg width="15" height="10">
              <use xlink:href="img/svg/sprite.svg#ct-btn"></use>
            </svg>
          </button>
          <button class="btn btn-reset" type="button">Shop now</button>
        </li>
        <li class="ct-item">
          <img class="ct-img" src="img/ct-3.png" width="206" height="145" alt="eggpent">
          <div class="ct-t1">Eggpent</div>
          <div class="ct-t2">Purchasing from select family farmers who farm onganically.</div>
          <button class="ct-btn btn-reset">
            <svg width="15" height="10">
              <use xlink:href="img/svg/sprite.svg#ct-btn"></use>
            </svg>
          </button>
          <button class="btn btn-reset" type="button">Shop now</button>
        </li>
        <li class="ct-item">
          <img class="ct-img" src="img/ct-4.png" width="113" height="108" alt="tomato">
          <div class="ct-t1">Tomato</div>
          <div class="ct-t2">Purchasing from select family farmers who farm onganically.</div>
          <button class="ct-btn btn-reset">
            <svg width="15" height="10">
              <use xlink:href="img/svg/sprite.svg#ct-btn"></use>
            </svg>
          </button>
          <button class="btn btn-reset" type="button">Shop now</button>
        </li>
      </ul>
    </div>
  </div>
</section>