<section class="ff">
  <div class="container">
    <h2 class="ff-t1 tt">Featured Products</h2>
    <div class="ff-swiper">
      <div class="swiper-wrapper">
        <div class="ff-inner card swiper-slide">
          <div class="card-top">
            <div class="card-hov">
              <button class="card-hov1 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov1"></use>
                </svg>
              </button>
              <button class="card-hov2 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov2"></use>
                </svg>
              </button>
              <button class="card-hov3 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov3"></use>
                </svg>
              </button>
            </div>
            <img src="img/card-7.png" width="160" height="200" alt="product">
          </div>
          <div class="card-btm">
            <div class="card-t1">Red Pepper</div>
            <div class="card-t2">$10.00 - $20.00</div>
            <ul class="rating list-reset">
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
            </ul>
            <button class="btn" type="button">Shop now</button>
          </div>
        </div>
        <div class="ff-inner card swiper-slide">
          <div class="card-top">
            <div class="card-hov">
              <button class="card-hov1 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov1"></use>
                </svg>
              </button>
              <button class="card-hov2 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov2"></use>
                </svg>
              </button>
              <button class="card-hov3 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov3"></use>
                </svg>
              </button>
            </div>
            <img src="img/card-8.png" width="212" height="210" alt="product">
          </div>
          <div class="card-btm">
            <div class="card-t1">Cabbage</div>
            <div class="card-t2"><s class="card-t3">$30.00</s> - $15.00</div>
            <ul class="rating list-reset">
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#non-star"></use>
                </svg>
              </li>
            </ul>
            <button class="btn" type="button">Shop now</button>
          </div>
        </div>
        <div class="ff-inner card swiper-slide">
          <div class="card-top">
            <div class="card-hov">
              <button class="card-hov1 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov1"></use>
                </svg>
              </button>
              <button class="card-hov2 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov2"></use>
                </svg>
              </button>
              <button class="card-hov3 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov3"></use>
                </svg>
              </button>
            </div>
            <img src="img/card-9.png" width="201" height="197" alt="product">
          </div>
          <div class="card-btm">
            <div class="card-t1">Tomato</div>
            <div class="card-t2">$15.00</div>
            <ul class="rating list-reset">
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
            </ul>
            <button class="btn" type="button">Shop now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="ff-box">
      <div class="swiper-button-prev2">
        <svg width="15" height="10">
          <use xlink:href="img/svg/sprite.svg#ff-arr1"></use>
        </svg>
      </div>
      <div class="swiper-button-next2">
        <svg width="15" height="10">
          <use xlink:href="img/svg/sprite.svg#ff-arr2"></use>
        </svg>
      </div>
    </div>
  </div>
</section>