<section class="s1">
  <h2 class="hide">Featured</h2>
  <div class="container">
    <div class="s1-inner">
      <div class="s1-left">
        <img src="img/s1-1.png" alt="vegetables">
        <div class="s1-box">
          <div class="s1-t1">Save up to 50%</div>
          <div class="s1-t2">The blueprint to health</div>
          <button class="s1-btn-1 btn-reset" type="button">Buy now</button>
        </div>
      </div>
      <div class="s1-right">
        <img src="img/s1-2.png" alt="fruits">
        <div class="s1-box">
          <div class="s1-t1">Offer 30% discount</div>
          <div class="s1-t2">Fruits & vegetables</div>
          <button class="s1-btn-2 btn-reset" type="button">Buy now</button>
        </div>
      </div>
    </div>
  </div>
</section>