<header class="header">
  <div class="ht">
   <div class="container">
     <div class="ht-inner">
      <ul class="ht-list list-reset">
        <li class="ht-item">
          <a class="ht-link" href="#">
            <svg width="13.6" height="16">
              <use xlink:href="img/svg/sprite.svg#map"></use>
            </svg>
            15/A, Nest Tower, NYC
          </a>
        </li>
        <li class="ht-item">
          <a class="ht-link" href="mailto:info@webmail.com">
            <svg width="20" height="16">
              <use xlink:href="img/svg/sprite.svg#mail"></use>
            </svg>
            info@webmail.com
          </a>
        </li>
      </ul>
      <button class="ht-lang btn-reset" type="button">
        English
        <svg width="8" height="5">
          <use xlink:href="img/svg/sprite.svg#arr-down"></use>
        </svg>
      </button>
      <ul class="soc list-reset">
        <li class="soc-it">
          <a class="soc-link" href="#" aria-label="facebook">
            <svg width="7" height="13">
              <use xlink:href="img/svg/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="soc-it">
          <a class="soc-link" href="#" aria-label="twitter">
            <svg width="14" height="11">
              <use xlink:href="img/svg/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="soc-it">
          <a class="soc-link" href="#" aria-label="instagram">
            <svg width="13" height="13">
              <use xlink:href="img/svg/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="soc-it">
          <a class="soc-link" href="#" aria-label="linkedin">
            <svg width="13" height="13">
              <use xlink:href="img/svg/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
     </div>
   </div>
  </div>
  <nav class="hb">
    <div class="container">
      <div class="hb-inner">
        <a class="logo" href="/">
          <img src="img/logo.png" width="217" height="50" alt="logo">
        </a>
        <ul class="hb-list list-reset">
          <li class="hb-item">
            <a class="hb-link active" href="/">Home+</a>
          </li>
          <li class="hb-item">
            <a class="hb-link" href="#">About+</a>
          </li>
          <li class="hb-item">
            <a class="hb-link" href="#">Shop+</a>
          </li>
          <li class="hb-item">
            <a class="hb-link" href="#">Page+</a>
          </li>
          <li class="hb-item">
            <a class="hb-link" href="#">Contact</a>
          </li>
        </ul>
        <button class="login btn-reset" type="button">Login</button>
        <button class="hb-btn btn-reset" type="button" aria-label="search">
          <svg width="12" height="12">
            <use xlink:href="img/svg/sprite.svg#search"></use>
          </svg>
        </button>
        <button class="hb-btn btn-reset" type="button" aria-label="cart">
          <svg width="23" height="19">
            <use xlink:href="img/svg/sprite.svg#cart"></use>
          </svg>
        </button>
      </div>
    </div>
  </nav>
</header>