<section class="hr">
  <h1 class="hide">Organic food</h1>
  <div class="container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="hr-inner swiper-slide">
          <div class="hr-left">
            <div class="hr-t1">Body needs</div>
            <div class="hr-t2">Organic food good health</div>
            <button class="hr-btn btn-reset">Shop now</button>
          </div>
          <div class="hr-right">
            <img src="img/hr-1.png" width="684" height="440" alt="tomato and garlic">
            <span class="hr-t3">Organic</span>
          </div>
        </div>
        <div class="hr-inner swiper-slide">
          <div class="hr-left">
            <div class="hr-t1">Body needs</div>
            <div class="hr-t2">Organic food good health</div>
            <button class="hr-btn btn-reset">Shop now</button>
          </div>
          <div class="hr-right">
            <img src="img/hr-1.png" width="684" height="440" alt="tomato and garlic">
            <span class="hr-t3">Organic</span>
          </div>
        </div>
        <div class="hr-inner swiper-slide">
          <div class="hr-left">
            <div class="hr-t1">Body needs</div>
            <div class="hr-t2">Organic food good health</div>
            <button class="hr-btn btn-reset">Shop now</button>
          </div>
          <div class="hr-right">
            <img src="img/hr-1.png" width="684" height="440" alt="tomato and garlic">
            <span class="hr-t3">Organic</span>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev">
      <svg width="15" height="8">
        <use xlink:href="img/svg/sprite.svg#arr-prev"></use>
      </svg>
    </div>
    <div class="swiper-button-next">
      <svg width="15" height="8">
        <use xlink:href="img/svg/sprite.svg#arr-next"></use>
      </svg>
    </div>
  </div>
</section>