<section class="pr">
  <div class="container">
    <div class="pr-inner">
      <h2 class="pr-t1 tt">Popular products</h2>
      <div class="pr-box">
        <button class="pr-btn btn-reset" type="button" data-filter="all">All</button>
        <button class="pr-btn btn-reset" type="button" data-filter=".food">Food</button>
        <button class="pr-btn btn-reset" type="button" data-filter=".organic">Organic</button>
        <button class="pr-btn btn-reset" type="button" data-filter=".fruits">Fruits</button>
        <button class="pr-btn btn-reset" type="button" data-filter=".health">Health</button>
        <button class="pr-btn btn-reset" type="button" data-filter=".seafood">Seafood</button>
      </div>
      <div class="pr-list">
        <div class="mix food card" data-order="1">
          <div class="card-top">
            <div class="card-hov">
              <button class="card-hov1 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov1"></use>
                </svg>
              </button>
              <button class="card-hov2 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov2"></use>
                </svg>
              </button>
              <button class="card-hov3 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov3"></use>
                </svg>
              </button>
            </div>
            <img src="img/card-1.png" width="292" height="199" alt="product">
          </div>
          <div class="card-btm">
            <div class="card-t1">Blackberry Fruit</div>
            <div class="card-t2">$10.00 - $20.00</div>
            <ul class="rating list-reset">
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
            </ul>
            <button class="btn" type="button">Shop now</button>
          </div>
        </div>
        <div class="mix organic card" data-order="2">
          <div class="card-top">
            <div class="card-hov">
              <button class="card-hov1 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov1"></use>
                </svg>
              </button>
              <button class="card-hov2 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov2"></use>
                </svg>
              </button>
              <button class="card-hov3 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov3"></use>
                </svg>
              </button>
            </div>
            <span class="disc">Off 50%</span>
            <img src="img/card-2.png" width="246" height="182" alt="product">
          </div>
          <div class="card-btm">
            <div class="card-t1">Avocado Fruit</div>
            <div class="card-t2"><s class="card-t3">$30.00</s> - $15.00</div>
            <ul class="rating list-reset">
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#non-star"></use>
                </svg>
              </li>
            </ul>
            <button class="btn" type="button">Shop now</button>
          </div>
        </div>
        <div class="mix fruits seafood card" data-order="3">
          <div class="card-top">
            <div class="card-hov">
              <button class="card-hov1 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov1"></use>
                </svg>
              </button>
              <button class="card-hov2 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov2"></use>
                </svg>
              </button>
              <button class="card-hov3 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov3"></use>
                </svg>
              </button>
            </div>
            <img src="img/card-3.png" width="283" height="283" alt="product">
          </div>
          <div class="card-btm">
            <div class="card-t1">Kiwifruit Vitamin</div>
            <div class="card-t2">$17.00</div>
            <ul class="rating list-reset">
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
            </ul>
            <button class="btn" type="button">Shop now</button>
          </div>
        </div>
        <div class="mix health organic card" data-order="4">
          <div class="card-top">
            <div class="card-hov">
              <button class="card-hov1 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov1"></use>
                </svg>
              </button>
              <button class="card-hov2 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov2"></use>
                </svg>
              </button>
              <button class="card-hov3 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov3"></use>
                </svg>
              </button>
            </div>
            <img src="img/card-4.png" width="280" height="163" alt="product">
          </div>
          <div class="card-btm">
            <div class="card-t1">Lemon</div>
            <div class="card-t2">$7.00</div>
            <ul class="rating list-reset">
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
            </ul>
            <button class="btn" type="button">Shop now</button>
          </div>
        </div>
        <div class="mix seafood card" data-order="5">
          <div class="card-top">
            <div class="card-hov">
              <button class="card-hov1 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov1"></use>
                </svg>
              </button>
              <button class="card-hov2 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov2"></use>
                </svg>
              </button>
              <button class="card-hov3 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov3"></use>
                </svg>
              </button>
            </div>
            <img src="img/card-5.png" width="168" height="190" alt="product">
          </div>
          <div class="card-btm">
            <div class="card-t1">Purple onion</div>
            <div class="card-t2">$30.00</div>
            <ul class="rating list-reset">
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
            </ul>
            <button class="btn" type="button">Shop now</button>
          </div>
        </div>
        <div class="mix organic health card" data-order="6">
          <div class="card-top">
            <div class="card-hov">
              <button class="card-hov1 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov1"></use>
                </svg>
              </button>
              <button class="card-hov2 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov2"></use>
                </svg>
              </button>
              <button class="card-hov3 btn-reset">
                <svg width="40" height="40">
                  <use xlink:href="img/svg/sprite.svg#hov3"></use>
                </svg>
              </button>
            </div>
            <img src="img/card-6.png" width="290" height="290" alt="product">
          </div>
          <div class="card-btm">
            <div class="card-t1">Brown Almonds</div>
            <div class="card-t2">$11.00</div>
            <ul class="rating list-reset">
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="star">
                <svg width="14" height="13">
                  <use xlink:href="img/svg/sprite.svg#star"></use>
                </svg>
              </li>
            </ul>
            <button class="btn" type="button">Shop now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>