<div class="sh">
  <div class="container">
    <ul class="sh-list list-reset">
      <li class="sh-item">
        <svg width="60" height="41">
        <use xlink:href="/img/svg/sprite.svg#sh-1"></use>
        </svg>
        <div class="sh-box">
          <div class="sh-t1">Free Shipping</div>
          <div class="sh-t2">On all orders over $35.00</div>
        </div>
      </li>
      <li class="sh-item">
        <svg width="60" height="60">
        <use xlink:href="/img/svg/sprite.svg#sh-2"></use>
        </svg>
        <div class="sh-box">
          <div class="sh-t1">15 day returns</div>
          <div class="sh-t2">Moneyback guarantee</div>
        </div>
      </li>
      <li class="sh-item">
        <svg width="60" height="55">
        <use xlink:href="/img/svg/sprite.svg#sh-3"></use>
        </svg>
        <div class="sh-box">
          <div class="sh-t1">Fresh product</div>
          <div class="sh-t2">Best online organic food</div>
        </div>
      </li>
      <li class="sh-item">
        <svg width="60" height="60">
        <use xlink:href="/img/svg/sprite.svg#sh-4"></use>
        </svg>
        <div class="sh-box">
          <div class="sh-t1">Summer offer</div>
          <div class="sh-t2">On all orders over</div>
        </div>
      </li>
    </ul>
  </div>
</div>